html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: darkgrey;
}

.wrapper {
    position: relative;
    perspective: 5px;
    overflow-x: scroll;
    overflow-y: hidden;
    transform-style: preserve-3d;
    height: 100vh;
    width: 100%;
}

.moon {
    position: absolute;
    top: -10vh;
    left: 58%;
    border-radius: 10vh;
    width: 13vh;
    height: 13vh;
    transform: translateZ(-5px);
    background-color: lightgoldenrodyellow;
}

.houseContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    transform: translateZ(0);
    padding-right: 5vh;
}

.house {
    flex: 0 0 auto;
    background-color: black;
    position: relative;
}

.windowContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
}
.window {
    flex: 0 1 auto;
    position: relative;
}
.window:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(0deg, black, black 15px, transparent 15px, transparent 16px, black 16px),
    repeating-linear-gradient(90deg, black, black 8px, transparent 8px, transparent 10px, black 10px);
    transition: 1s bottom;
}
.window:hover:before {
    bottom: 100%;
}
.window:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, black, transparent 10%, transparent 90%, black 100%),
    linear-gradient(90deg, black, transparent 10%, transparent 90%, black 100%);
}

.window img {
    max-width: 15vh;
    max-height: 25vh;
}

.house1 {
    height: 60vh;
    width: 45vh;
}
.house1:before{
    content: "";
    display: block;
    position: relative;
    top: -30vh;
    left: 0;
    right: 0;
    border: 15vh solid transparent;
    border-bottom-color: black;
    height: 0;
    width: 15vh;
    flex: 0 0 auto;
}


.house2 {
    margin-left: 5vh;
    height: 30vh;
    width: 30vh;
}
.house2:after{
    content: "";
    display: block;
    position: relative;
    top: -30vh;
    border: 15vh solid transparent;
    border-bottom-color: black; 
    height: 0;
    width: 0;
}

.house3 {
    margin-left: 15vh;
    height: 90vh;
    width: 60vh;
}

.house4 {
    margin-left: 10vh;
    height: 80vh;
    width: 60vh;
}

.interHouse {
    height: 30vh;
    width: 15vh;
}
